/* Første del, under 600px */

/*Chris general  < 600*/
body { 
    font-size: 1.2rem;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

/* Ingrid*/ 
main {
    font-family: "Lato", sans-serif;
    box-shadow: 0px 0px 1px 0px darkgrey;
    background-color: whitesmoke;
}

h1 { 
    
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
}

h2 { 
    font-size: 2.2rem;
    font-family: "Montserrat", sans-serif;
}

h3 { 
    font-family: "Montserrat", sans-serif;
}

p {
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
    width: 70ch;
}

a {
    color: white;
}

/* blir denne endret når vi endrer skjermstørrelse?*/

ul li{
    font-size:14px;
   }

footer {
    color: white;
    background-color: #c5192d;
}

/*Magnus*/
header {
    height: 55vh;
    background-image: url("../project/assets/img/studentsbg.png");
    background-image: fixed;
    background-position: center top; 
    background-size: cover;
}

header > div {
    color: white;
    background-color: #c5192d;
    margin: auto;
    width: auto;
    padding: 1rem;
    position: relative;
    top: 4rem;
}
/*Haris*/
#intro-container {
    background-color: #c5192d;
    margin: auto;
    width: auto;
    padding: 1rem;
}
#intro-container > div > ul > li:nth-child(1):before {
    content: "\1F64C";
}
#intro-container > div > ul > li:nth-child(2):before {
    content: "\1F3EB";
}
#intro-container > div > ul > li:nth-child(3):before {
    content: "\1F4DA";
}

#intro-container > div > ul {
    list-style-type: none;
}

/* Slutt av første del, under 600px */


/* Andre del, 600-960px */
@media only screen and (min-width: 600px , 960px) {

    /*chris 
    •Each article will be displayed in a 2-column layout
    •Each column will be 45% wide and there will be a 10% gap between the two columns(Figure 3). 
    HINT: inline elements add a space between them.
    •Observe that the image is aligned to the top of the container
    #intro-containerThe red background only covers 50% of the article container(Figure 4). 
    This is, it spans 50% from the left to the right.
    */
    
    article > div > ul > li:nth-child(1):before {
        float: left;
        width: 45%;

    }

    p { 
        font-size: 16px;   
    }
    header {
        height: 65vh;
    }
    header>div, main, footer {
        width: 85%;
    }
}
/*Slutt av andre del, 600-960px */


/* Tredje del, over 960 px */
@media only screen and (min-width: 961px) {
    p {
        font-size: 24px;
    }
    header {
        height: 65vh;
    }
    header>div, main, footer {
        width: 70%;
    }
}

/*Slutt av tredje del, over 960 px */