/* General */

* {
    margin: 0px;  /*Ikke i oppgave*/
    padding: 0px; /*Ikke i oppgave */
}

body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-size: 1.2rem;
}

h1 {
    font-family: Montserrat, sans-serif;
    font-size: 4rem;
    
    padding-top: 1rem;
    padding-bottom: 2rem;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-size: 2.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

p {
    width: 70ch;
    line-height: 1.5;
    margin-bottom: 2rem;
}

/* Header */

header {
    height: 55vh;
    background-image: url("assets/img/studentsbg.png");
    background-image: fixed;
    background-position: center top; 
    background-size: cover;
    width: 100%;
    position: relative;
}

header > div {
    color: white;
    background-color: #c5192d;
    width: 95vw;
    margin: 0 2.5vw 0 2.5vw;
    box-sizing: border-box;
    padding: 2rem;
    position: absolute;
    bottom: -4rem;
    text-align: center;
}

/* Main */

main>article:nth-child(1) {     /*Kopiert fra under, fikser marginen over "our goals" */
    box-shadow: 0px 0px 1px 0px darkgray;
    background-color: black;
    width: 95%;
    margin: 2rem auto 0rem auto;
    box-sizing: border-box;
}

main>article:nth-child(2) { /*Gjør ingen synlig forskjell, men border er ihvertfall 0.1px */
    border-bottom-style:solid;
    border-width: 0.1px;
    border-color: darkgrey;
}

main>article {
    box-shadow: 0px 0px 1px 0px darkgray;
    background-color: whitesmoke;
    width: 95%;
    margin: 0rem auto 0rem auto;
    box-sizing: border-box;
    padding: 2rem;
    position: relative;
    top: 4rem;
}


/* intro-container */

#intro-container {

    background-color: #c5192d;
}

#intro-container>div>ul>li:nth-child(1):before {
    content: "\1F64C";
    width: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
}
#intro-container>div>ul>li:nth-child(2):before {
    content: "\1F3EB";
    width: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
}
#intro-container>div>ul>li:nth-child(3):before {
    content: "\1F4DA";
    width: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

img, div>p, footer>p, h1, h2 {
    width: 100%;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}

footer {
    width: 95%;
    margin: 2rem auto 0 auto;
    background-color: #c5192d;
    color: white;
    box-sizing: border-box;
    padding: 2rem;
    position: relative;
    top: 4rem;
}

a {
    color: white;
}

@media only screen and (min-width: 601px) {

    #intro-container > div > p {
        padding: 2rem;

    }
    #intro-container :nth-child(2) {
        background-color: whitesmoke;
        width: auto;

    }
    #intro-container :nth-child(1) {
        width: auto;
    }
    #intro-container {
        padding: 0;
        
    }
    #intro-container > div > ul {
        width: 45%;
        margin-right: 5%;
        list-style-type: none;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        
    }
    #intro-container > div > h2, p {
        width: 45%;
        margin-left: 5%;
    }
    #intro-container > div > p {
        background-color: #c5192d !important;
    }
    #intro-container > div > h2 {
        padding-left: 2rem;
        padding-top: 2rem;
        
    }
    p {
        float: left;
    }
    main>article {
        box-shadow: 0px 0px 1px 0px darkgray;
        background-color: whitesmoke;
        width: 95%;
        margin: 2rem auto 1rem auto;
        box-sizing: border-box;
        position: relative;
        top: 6rem;
    }
    article {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 1fr;
        grid-column-gap: 10%;
        
    }
    header {
        height: 55vh;
        background-image: url("assets/img/studentsbg.png");
        background-image: fixed;
        background-position: center top; 
        background-size: cover;
        width: 100%;
        position: relative;
    }
}
